@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  /*width: 35%;*/
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.left-slide .gift-frame{
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.left-slide .gift-a{
  background-image: url("gifts/frame-1.png");
  /*background-color: #FD3555;*/
}
.left-slide .gift-b{
  background-image: url("gifts/frame-2.png");
  /*background-color: #2A86BA;*/
}

.left-slide .gift-start{
    background-image: url("gifts/frame-0.png");
  /*background-color: #FFB866;*/
}

.gift-start .gift-info ::selection{
  background: #2fb9c2;
}

.gift-a .gift-info ::selection{
  background: #ffc33f;
}
.gift-b .gift-info ::selection{
  background: #3d4464;
}

.gift-info{
  text-align: left;
  margin-right: 10%;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  /*left: 35%;*/
  left: 5%;
  width: 95%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.right-slide > .gift-bg{

}

.gift-bg__0{
  background-color: #21a4ad;
}
.gift-bg__1{
  background-color: #2d3148;
}
.gift-bg__2{
  background-color: #fcd55c;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 5%;
  top: 50%;
  z-index: 2;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  color: #ffffff;
  background-color: #ffffff;
  /*border-top-left-radius: 5px;*/
  /*border-bottom-left-radius: 5px;*/
  border-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  /*border-top-right-radius: 5px;*/
  /*border-bottom-right-radius: 5px;*/
    border-radius: 5px;
}

.gift-open-btn {
  background-image: url("gifts/frame-2.png");
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2.5rem;
  margin: 5rem 0rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal-detail{
  padding-top: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}